# Virtual environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment variables / secrets
.env
.env.*

#excel files
*.xlsx

# IDE
.vscode/
.idea/

# OS
.DS_Store
